<li class="list-group-item flex-column align-items-start">
  <%= link_to_dataverse_collection "#{installation[:name]} - #{installation[:hostname]}", "https://#{installation[:hostname]}", ":root", { class: "text-decoration-none"} %>
</li>