<footer class="d-flex m-0 mt-4 justify-content-between align-items-center p-4">
  <div class="me-2">
    <%= link_to "https://www.iq.harvard.edu/research-computing" do %>
      <%=
        image_tag(
          "iqss_logo.png",
          class: "footer-logo",
          alt: "IQSS Reserch Computing",
          height: "40px",
        )
      %>
    <% end %>
  </div>
  <span><%= t('.version', version: "beta") %></span>
</footer>
