<% content_for :title, t('dataverse.collections.show.page_title') %>
<div class="container-md content" role="main">
  <%= render partial: 'dataverse/collections/breadcrumbs', locals: { dataverse_url: @dataverse_url, collection: @collection } %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'dataverse/collections/collection_info', locals: { collection: @collection } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'dataverse/collections/search_bar', locals: { dataverse_url: @dataverse_url, collection: @collection} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'dataverse/collections/search_items', locals: { search_result: @search_result, dataverse_url: @dataverse_url, dataverse: @collection} %>
    </div>
  </div>
</div>

