<div class="list-group-item flex-column align-items-start">
  <%= link_to_dataverse "#{installation[:name]} - #{installation[:hostname]}", "https://#{installation[:hostname]}", ":root", {target: "_blank", class: "text-decoration-none"} %>
</div>