<div class="my-4"><%= image_tag('dataverse_project.svg', alt: 'Dataverse Icon', style: 'width: 300px;') %></div>
<div class="dataverse container-md content" role="main">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Dataverse", view_dataverse_landing_path %>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'dataverse/dataverses/installation_items', locals: { installations_page: @installations_page} %>
    </div>
  </div>
</div>