<%
  restrictions_response = verify_dataset(@dataset)
  error_message = restrictions_response.valid? ? nil : restrictions_response.message
%>

<% content_for :title, t('dataverse.datasets.show.page_title') %>
<div class="dataverse container-md content" role="main">
  <%= render partial: 'dataverse/datasets/breadcrumbs', locals: { dataverse_url: @dataverse_url, dataset: @dataset} %>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'dataverse/datasets/dataset_info', locals: { dataset: @dataset } %>
      <%= render partial: 'dataverse/datasets/dataset_metadata', locals: { dataset: @dataset } %>
    </div>
    <div class="col-md-9">
      <%= render partial: 'dataverse/datasets/dataset_files', locals: { error_message: error_message, files_page: @files_page, dataverse_url: @dataverse_url, dataset: @dataset} %>
    </div>
  </div>
</div>