<% links = local_assigns.fetch(:links, []) %>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="<%= root_path %>">Home</a>
    </li>
    <% links.each_with_index do |link, idx| %>
      <%= tag.li class: current_page?(link) ? 'breadcrumb-item' : 'breadcrumb-item active' do %>
        <%= tag.a link[:text], aria: ({ current: 'page' } if (links.length - 1 == idx)), href: (link[:url] unless link.key?('url') || link[:disabled]) %>
      <% end %>
    <% end %>
  </ol>
</nav>