<%
  text = local_assigns.fetch(:text, t('.button_open_folder_text'))
  title = local_assigns.fetch(:title, t('.button_open_folder_title'))
  classes = local_assigns.fetch(:class, 'btn btn-sm btn-outline-secondary')

%>
<!-- Open metadata link -->
<a href="<%= files_app_url(Project.project_metadata_dir(project.id)) %>"
   target="_blank"
   class="<%= classes %>"
   title="<%= title %>">
  <i class="bi bi-card-list" aria-hidden="true"></i>
  <span class="visually-hidden"><%= text %></span>
</a>