<%
  path = local_assigns.fetch(:path, Dir.home)
  files_url = files_app_url(path)
  title = local_assigns.fetch(:title, t('.button_open_in_ondemand_title'))
%>
<%= link_to files_url, class: 'btn btn-sm btn-outline-dark pb-0 text-decoration-none', target: "_blank", title: title, data: { bs_toggle: title }, style: 'width: 2.5rem; height: 2rem;' do %>
  <span class="position-relative d-inline-block" style="width: 1.5rem; height: 1.5rem;">
    <i class="bi bi-folder position-absolute top-50 start-50 translate-middle" aria-hidden="true" style="font-size: 1.8rem; line-height: 1;"></i>
    <%= image_tag 'ood_icon.svg', alt: t('.image_ood_icon_alt'),
                  class: 'position-absolute top-50 start-50',
                  style: 'width: 0.75rem; height: 0.75rem; transform: translate(-50%, -40%);' %>
    <span class="visually-hidden"><%= title %></span>
  </span>
<% end %>