<div class="text-end sticky-top bg-white z-index-999">
  <%= link_to(upload_status_path, class: 'btn btn-outline-dark btn-sm') do %>
    <i class="bi bi-arrow-clockwise bold"></i><span class="ps-1">Reload</span>
  <% end %>
</div>

<hr>