<div class="text-end bg-white" aria-label="<%= t('.actions_bar_title_a11y_label') %>">
  <%= link_to(upload_status_path, class: 'btn btn-outline-dark btn-sm', role: 'button', title: t('.button_reload_title')) do %>
    <i class="bi bi-arrow-clockwise bold" aria-hidden="true"></i><span class="ps-1"><%= t('.button_reload_title') %></span>
  <% end %>
</div>

<hr class="mt-2">