<div class="container-md content mt-4" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.uploads')}]} %>
  <div class="row">
      <div class="col-md-12">
        <%= render partial: 'actions' %>

        <div data-controller="upload-files-status-refresh">
          <%= render partial: 'files', locals: { files: @files } %>
        </div>

      </div>
  </div>
</div>