<div class="text-end">
  <%= link_to(files_app_url(Configuration.download_root), class: 'btn btn-outline-dark btn-sm', target: '_blank') do %>
    <i class="bi bi-folder-fill"></i>
    <span class="ps-1">Downloads Root Directory</span>
  <% end %>

  <%= render partial: "shared/button_to", locals: {
    url: projects_path,
    label: "Create Project",
    icon: "bi bi-plus-square-fill"
  } %>

  <hr>
</div>
