<% active = active.nil? ? false : active %>
<% footer = footer.nil? ? true : footer %>
<div class="card mb-3 shadow-sm rounded <%= project_border_class(active) %>">
  <!-- Header Section -->
  <%= render partial: "projects/project_header", locals: { project: project, active: active } %>

  <!-- Main Content -->
  <div class="card-body bg-light">
    <div class="row align-items-center">
      <div class="col">
        <!--Project Metadata -->
      </div>

      <div class="col-auto">
        <%= render partial: '/shared/project_progress', locals: project_progress_data(project.count) %>
      </div>
    </div>
  </div>

  <%= render partial: "projects/project_footer", locals: { project: project } if footer %>
</div>
