<% content_for :title, t('.page_title') %>
<div class="projects container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.breadcrumbs_text')}]} %>
  <div class="row">
      <div class="col-md-12">
        <%= render partial: 'actions' %>
        <ul class="list-group">
          <%= render partial: 'project', locals: { project: @active_project, active: true } if @active_project %>
          <% @projects.each do |project| %>
            <%= render partial: 'project', locals: { project: project } unless project.id == @active_project&.id %>
          <% end %>
        </ul>
      </div>
  </div>
</div>