<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>"><%= t('.home') %></a></li>
    <li class="breadcrumb-item"><a href="<%= view_zenodo_landing_path %>">Zenodo</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @dataset.title %></li>
  </ol>
</nav>
