<% content_for :title, t('zenodo.records.show.page_title') %>
<div class="zenodo container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('shared.breadcrumbs.zenodo'), url: view_zenodo_landing_path}, {text: @record.title}]} %>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'connectors/zenodo/shared/zenodo_record_actions', locals: { record: @record } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'connectors/zenodo/shared/zenodo_record_info', locals: { record: @record } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'connectors/zenodo/shared/zenodo_record_files', locals: { record: @record, record_id: @record_id } %>
    </div>
  </div>
</div>
