<div class="card dataset-header">
  <div class="card-header"><%= t('dataverse.collections.collection_info.header_dataverse_text') %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
       <strong><%= collection.data.name %></strong>
    </li>
    <li class="list-group-item">
      <%= truncate(strip_tags(collection.data.description), length: 200) %>
    </li>
  </ul>
</div>
