<%
     container_id = local_assigns.fetch(:id)
     file_browser_id = local_assigns.fetch(:file_browser_id)
     file_post_url = local_assigns[:url]
%>
<div id="<%= container_id %>"
     class="file-drop-container"
     data-controller="file-drop"
     data-file-drop-file-browser-id-value="<%= file_browser_id %>"
     data-file-drop-url-value="<%= file_post_url %>">

  <%= yield %>

</div>