<div class="container-md content mt-4" role="main">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a aria-current="page">downloads</a>
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-3">
      <div class="card dataset-header">
        <div class="card-header">Downloads</div>
        <div class="list-group list-group-flush">
          <span class="list-group-item list-group-item-action">
            <%= link_to(files_app_url(Configuration.download_root), class: 'btn p-0', target: '_blank') do %>
              <i class="fa fa-folder"></i><span class="ps-1">Downloads root dir</span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-9" data-controller="collections-status-refresh">
      <%= render partial: 'collections' %>
    </div>
  </div>
</div>