#schedule-downloads {
  small.file-size {
    font-size: 0.7rem;
    margin-top: 3px;
  }

  .download-actions i {
    font-size: 1.35rem;
  }
}

#schedule-uploads {
  small.file-size {
    font-size: 0.7rem;
    margin-top: 3px;
  }

  .upload-actions i {
    font-size: 1.35rem;
  }
}