#schedule-downloads {
  .progress {
    background-color: #d6d8db;
    border: 1px solid #d6d8db;
  }

  .icon-hover-danger i {
    font-size: 1.35rem;
  }

  .icon-hover-danger:hover {
    color: #fff;
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
  }

  .btn-icon-sm {
    padding: 0.25rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}