
.projects {
  [data-update-inline-field-target="form"] {
    min-height: 3rem;
  }

  [data-update-inline-field-target="form"] input {
    min-width: 400px;
  }

  .card {
    overflow: hidden;
  }

  .nav-tabs .nav-link.active {
    color: #343a40 !important;
    background-color: #e9ecef;
    border-bottom-color: transparent !important;
  }

  .nav-tabs .nav-link:hover {
    color: #343a40;
    background-color: #e9ecef;
  }
}

.project-name-link {
  &:hover {
    background-color: #a4c6fb;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: var(--bs-primary);
  }

  &:hover::before {
    width: 4px;
  }
}
