.project-details {
  .nav-tabs .nav-link {
    border-bottom: 2px solid transparent;
  }

  .nav-tabs .nav-link:hover {
    border-color: var(--bs-nav-tabs-link-hover-border-color);
  }

  .nav-tabs .nav-link.active {
    background-color: #F8F9F9;
    border-bottom: 3px solid #dee2e6;
  }

  .upload-files-container.restricted-height {
    max-height: 150px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
  }

  .drop-hover .file-drop-container {
    border: 2px dashed #0d6efd !important;
  }
}