.project-details {
  .nav-tabs .nav-link {
    border-bottom: 1px solid transparent;
  }

  .nav-tabs .nav-link:hover {
    color: #343a40;
    background-color: #e9ecef;
  }

  .nav-tabs .nav-link.active {
    color: #343a40 !important;
    background-color: #e9ecef;
    border-bottom: 1px solid #e9ecef;
  }

  .upload-files-container.restricted-height {
    max-height: 150px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
  }

  .drop-hover .file-drop-container {
    border: 2px dashed #0d6efd !important;
  }
}