<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="/pun/sys/ood/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a aria-current="page">Dataverse</a>
    </li>
    <li class="breadcrumb-item">
      <a aria-current="page"><%= dataverse_url %></a>
    </li>
    <li class="breadcrumb-item">
      <a aria-current="page">Datasets</a>
    </li>
    <li class="breadcrumb-item active">
      <a aria-current="page"><%= dataset.data.latest_version.dataset_persistent_id %></a>
    </li>
  </ol>
</nav>