<div class="container-md content mt-4" role="main">
  <%= render partial: 'dataverse/datasets/breadcrumbs', locals: { dataverse_metadata: @dataverse_metadata, dataset: @dataset} %>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'dataverse/datasets/dataset_info', locals: { dataset: @dataset } %>
      <%= render partial: 'dataverse/datasets/dataset_metadata', locals: { dataset: @dataset } %>
    </div>
    <div class="col-md-9">
      <%= render partial: 'dataverse/datasets/dataset_files', locals: { files: @files, dataverse_metadata: @dataverse_metadata, dataset: @dataset} %>
    </div>
  </div>
</div>